/* .table tr.imc-info {
	background-color: #eef6fc;
	color: #1d72aa;
}

.table tr.imc-primary {
	background-color: #ebfffc;
	color: #00947e;
}

.table tr.imc-warning {
	background-color: #fffbeb;
	color: #947600;
}

.table tr.imc-danger {
	background-color: #feecf0;
	color: #cc0f35;
} */

.result-section {
	min-height: 64px;
}

.table-section {
	margin-top: 12px;
}
